.alexandria {
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style:normal;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #F7F4F2;
}

/*navigation*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: var(--white);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: Alexandria;
    font-style:normal;
}

.logo img {
    height: 60px;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight:normal;
    font-size:x-large;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--accent-color);
}

.nav-icons {
    display: flex;
    gap: 1.5rem;
}

.icon-link {
    color:black;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    font-style:solid;
}

.icon-link:hover {
    color: var(--accent-color);
}

/*end of navigation*/

/*hero banner*/

.hero {
    background-image: url('herobanner.png');
    background-size: cover;
    background-position: center;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: var(--white);
    padding: 2rem;
    border-radius: 0 0 150px 150px;
}

.hero h1 {
    font-size: 5rem;
    margin-top: 370px;
    margin-bottom: 1rem;
    font-family: 'Playfair Display', serif;
    font-weight:bold;
    color: #F7F4F2;
}

.hero h5 {
    font-family: Alexandria;
    font-weight:inherit;
    font-size: x-large;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
    color: #F7F4F2;
}

/*end of hero banner*/

/*tab menu*/
.category-parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding:0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 100px;
    background-color:#B7AC9D;
    box-shadow: 5px 5px 15px 5px rgb(130, 130, 130);
}

.category-filter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.filter-btn:hover {
    color: #F7F4F2;
    transform: translateY(-2px);
}

.filter-btn {
    font-family: Alexandria;
    font-weight: normal;
    font-size: 30px;
    padding: 0.5rem 1.3rem;
    border: none;
    margin:0.5rem;
    color:#D6D3CE;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color:#B7AC9D;
}

.filter-btn.active {
    background-color:#B7AC9D;
    color:#F7F4F2;
}

/*end of tab menu*/


/*
h3 {
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    width: 10%;
}

header .logo {
    display:block;
    width: 1%;
    height: 1%;
    padding:0rem;
    object-fit: contain;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #1F1F1F;
    font-weight:normal;
}

.hero {
    padding: 3rem 1rem;
    background-image:url('herobanner.png');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 300px;
    text-align: left;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    padding: 0rem;
    margin:0rem;
}