html, body, h1 {
    margin: 0;
    padding: 0;
    background-color: #F7F4F2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

header .logo {
    display:flex;
    width: 70px;
    height: 60px;
    padding:0rem;
    object-fit: contain;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #1F1F1F;
    font-weight: bold;
}

.hero {
    background-image:url('herobanner.png');
}